<div class="container col-12">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Trip information</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>User level:</td>
                    <td>Administrator</td>
                  </tr>
                  <tr>
                    <td>Registered since:</td>
                    <td>11/12/2013</td>
                  </tr>
                  <tr>
                    <td>Topics</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <td>Warnings</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-sm btn-info" [routerLink]="['/booking']" type="button">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>